* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.home-container {
  margin: auto 30px;
}
.sign-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.sign-column {
  background-color: aquamarine;
  padding: 20px;
  margin: 10px auto;
  flex: 1 1 30%;
}
@media screen and (max-width: 376px) {
  .sign-column {
    flex-basis: 50%;
  }

  #myDIV {
    width: 100%;
  }
}
